.company-title {
    background-color: $companyname-bgcolor;
    color: $companyname-fontcolor;
    text-align: center;
    font-size: 1.5em;
    font-weight: $font-thin;
}

.page-info {
    text-align: center;
}

.page-title {
    color: $pagetitle-fontcolor;
    font-size: 1.15em;
    @media(min-width: $break-medium){
        font-size: 2em;
    }
}

.page-description {
    color: $pageinfo-fontcolor;
    font-size: 0.95em;
    @media(min-width: $break-medium){
        font-size: 1.15em;
    }
}

[placeholder] {
    @include placeholder($forminput-fontcolor, 1em);
}

.top-hr-top {
    border-top: 4px solid;
}

.top-field-label {
    color: $formlabel-fontcolor;
    @media(min-width: $break-medium){
        font-size: 1.15em;
    }
}

.bottom-fieldset-writing {
    color: $formlabel-fontcolor;
    @media(min-width: $break-medium){
        font-size: 1.15em;
    }
}

.btn-submit {
    font-size: 1.15em;
    font-weight: $font-thin;
    border: none;
    border-radius: 5px;
    background-color: $button-bgcolor;
    color: $button-fontcolor;
    @media(min-width: $break-medium){
        font-size: 1.5em;
    }
}